body, html {
  height: 100%;
  font-family: Garamond;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/************************** Text Elements **************************/
h1, h2, h3, p, ul, a {
  line-height: 1.5;
  text-align: left;
  color: black;
  width: 100%;
  font-weight: 200;
  margin: 0;
}

h1, h2, h3 {
  font-family: Helvetica;
}

h1 {
  font-weight: 600;
  font-size: 3em;
}

h2 {
  font-size: 2em;
  font-weight: 500;
}

h3 {
  font-size: 1.5em;
  font-weight: 300;
}

p, li {
  font-size: 1em;
}

li {
  padding: 10px;
}

ul {
  margin: 1em 0;
  width: 80%;
  /* needed to wrap for mobile */
}

/************************** Mobile nav **************************/
#navMobile {
  background-color: black;
  padding: 10px;
  position: fixed;
  display: inline;
  width: 100%;
  height: auto;
  z-index: 1;
}

#burger {
  color: white;
  cursor: pointer;
}

.fa-times-circle:before {
  color: white;
}

.fa-bars:before {
  margin: 0 1em;
  color: white;
}

nav a {
  text-decoration: none;
  -webkit-transition-duration: 0.4s;
}

nav a:hover {
  font-size: 110%;
}

#navMobileContainer ul {
  list-style-type: none;
  font-size: 1.75em;
}

#navMobileContainer {
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  overflow: hidden;
  z-index: 1;
  opacity: 0.8;
}

#close-button {
  float: right;
  padding: 15px;
  color: white;
  cursor: pointer;
}

#navMobileContainer a {
  color: white;
  padding: 0 10px;
}

#navMobileContainer a:hover {
  border-left: 3px solid white;
}

.activeNavMobile {
  border-left: 3px solid white;
  font-weight: 600;
}

/************************** Tablet/Desktop Nav **************************/
#navFlexContainer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  background: black;
  font-size: 80%;
}

.navItem {
  color: #8c8e93;
}

.navItem:hover {
  font-size: 110%;
  color: #d1d2d4;
  border-bottom: 3px solid white;
}

.navItem:active {
  color: white;
  font-weight: 600;
}

.activeNavDesktop {
  color: white;
  border-bottom: 3px solid white;
  font-weight: 600;
  font-size: 110%;
}

/************************** All sections **************************/
#container {
  width: 100%;
  height: auto;
  position: relative;
  background-color: white;
}

#titleContainer {
  top: 3em;
}

#popGrowth, #urban, #consum, #solns {
  padding: 1em 0;
}

#essenContainer, #popGrowthContainer, #urbanContainer, #consumContainer, #solnsContainer {
  padding: 1em;
}

/************************** Parallax **************************/
.parallax {
  background-image: url("../images/billboard-buildings.jpg");
  height: 100%;
  /* create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#title, #scroll {
  background-color: black;
  padding: 2% 5% 5% 5%;
  position: absolute;
  display: block;
  top: 100px;
  width: 75%;
}

#title h1, #scroll h3 {
  color: white;
  display: inline;
}

#scroll {
  top: 400px;
  width: 10em;
  padding: 0px 2em 10px 2em;
}

#arrow {
  transform: rotate(90deg);
}

/************************** essen **************************/
#essenContainer {
  background-color: #d2cacd;
  box-shadow: 0 10px 20px #C0C0C0;
  box-shadow: none;
}

/************************** pop growth **************************/
text {
  font-family: Garamond;
}

.highcharts-anchor {
  text-decoration: underline;
}

/************************** urban **************************/
#urban {
  background-color: #f47f81;
}

/* prevent from overlapping nav */
.leaflet-top, .leaflet-bottom {
  z-index: 0;
}

/************************** consum **************************/
#consum {
  background-color: #fdc574;
}

/************************** solns **************************/
#solns {
  background-color: #d3c9cd;
}

/************************** Responsiveness **************************/
/* for mobile when width is larger than 0 */
@media only screen and (min-width:0) {
  #navFlexContainer {
    display: none;
  }
}

/* for tablet when width is larger than 37.5em */
@media only screen and (min-width:37.5em) {
  body {
    font-size: 108%;
  }

  #essenContainer, #popGrowthContainer, #urbanContainer, #consumContainer, #solnsContainer {
    padding: 3em 8%;
  }

  #navFlexContainer {
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: 1px;
  }

  nav a {
    margin: auto;
    text-align: center;
    padding: 0.2em;
  }

  .navItem {
    padding: 15px;
  }

  #navMobile {
    display: none;
  }
}

/* for desktop when width is larger than 60em */
@media only screen and (min-width:60em) {
  body {
    font-size: 115%;
  }

  #essenContainer, #popGrowthContainer, #urbanContainer, #consumContainer, #solnsContainer {
    padding: 0 10%;
  }
}