body, html {
  height: 100%;
  font-family: Garamond;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/************************** Text Elements **************************/
h1, h2, h3, p, ul, a, q, cite {
  line-height: 1.5;
  text-align: left;
  color: black;
  width: 100%;
  font-weight: 200;
  margin: 0;
}

h1, h2, h3, q, cite {
  font-family: Helvetica;
}

h1 {
  font-weight: 600;
  font-size: 3em;
}

h2 {
  font-size: 2em;
  font-weight: 500;
  padding: 1em 0;
}

h3 {
  font-size: 1.5em;
  font-weight: 300;
}

h3 {
  margin: 1em 0;
}

p, li {
  font-size: 1em;
}

li {
  padding: 10px;
}

ul {
  font-size: 80%;
  margin: 1em 0;
  width: 80%;
  word-wrap: break-word;
  /* needed to wrap for mobile */
}

quote {
  font-size: 2em;
}

/************************** Mobile nav **************************/
#navMobile {
  background-color: black;
  padding: 10px;
  position: fixed;
  display: inline;
  width: 100%;
  height: auto;
  z-index: 1;
}

#burger {
  color: white;
  cursor: pointer;
  font-size: 150%;
}

.fa-times-circle:before {
  color: white;
}

.fa-bars:before {
  margin: 0 1em;
  color: white;
}

nav a {
  text-decoration: none;
  -webkit-transition-duration: 0.4s;
}

nav a:hover {
  font-size: 110%;
}

#navMobileContainer ul {
  list-style-type: none;
  font-size: 1.75em;
}

#navMobileContainer {
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  overflow: hidden;
  z-index: 1;
  opacity: 0.8;
}

#close-button {
  float: right;
  padding: 15px;
  color: white;
  cursor: pointer;
}

#navMobileContainer a {
  color: white;
  padding: 0 10px;
}

#navMobileContainer a:hover {
  border-left: 3px solid white;
}

.activeNavMobile {
  border-left: 3px solid white;
  font-weight: 600;
}

/************************** Tablet/Desktop Nav **************************/
#navFlexContainer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  background: black;
  font-size: 80%;
}

.navItem {
  color: #8c8e93;
}

.navItem:hover {
  font-size: 110%;
  color: #d1d2d4;
  border-bottom: 3px solid white;
}

.navItem:active {
  color: white;
  font-weight: 600;
}

.activeNavDesktop {
  color: white;
  border-bottom: 3px solid white;
  font-weight: 600;
  font-size: 110%;
}

/************************** All sections **************************/
#container {
  width: 100%;
  height: auto;
  position: relative;
  background-color: white;
}

#titleContainer {
  top: 3em;
}

#popGrowth, #urban, #consum, #solns, #sources {
  padding: 1em 0;
  position: relative;
}

#essenContainer, #popGrowthContainer, #urbanContainer, #consumContainer, #solnsContainer, #sourcesContainer {
  padding: 1em;
}

/************************** Parallax **************************/
.parallax {
  background-image: url("../images/billboard-buildings.jpg");
  height: 100%;
  /* create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#title {
  background-color: black;
  padding: 2% 5% 5% 5%;
  position: absolute;
  display: block;
  top: 100px;
  width: 87%;
}

#title h1 {
  color: white;
  display: inline;
}

#arrow {
  width: 39px;
  padding: 0 5%;
  margin: auto;
  position: relative;
  display: block;
  transform: rotate(90deg);
}

/************************** essen **************************/
#essenContainer {
  background-color: #d2cacd;
  box-shadow: 0 10px 20px #C0C0C0;
  box-shadow: none;
}

/************************** pop growth **************************/
text {
  font-family: Garamond;
}

.highcharts-anchor {
  text-decoration: underline;
}

#player {
  position: relative;
  display: inline-block;
  height: 15em;
  width: 100%;
  margin: 1em 0 0 0;
}

#tedTalk {
  float: left;
  margin-right: 1em;
}

.caption {
  font-size: 13px;
  color: gray;
  margin-bottom: 1em;
}

.caption a {
  color: gray;
}

/************************** urban **************************/
#urban {
  background-color: #BCDEBB;
}

/* prevent from overlapping nav */
.leaflet-top, .leaflet-bottom {
  z-index: 0;
}

.leaflet-touch .leaflet-bar a {
  width: 40px;
  height: 40px;
  line-height: 35px;
}

#audio {
  margin: 1em 0;
}

audio {
  margin: 1em 0;
  float: left;
}

#cards {
  width: 95%;
  display: inline-block;
  position: relative;
  padding: 0 2%;
}

.card {
  min-width: 25%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  display: inline-block;
}

.cardContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: white;
  box-shadow: 0 10px 20px #C0C0C0;
  /* transform: translate(0, -5px); */
  transition: all 0.4s ease;
}

.cardContent:hover {
  box-shadow: 0 10px 20px #C0C0C0;
  transform: translate(0, -5px);
  transition: all 0.4s ease;
}

.cardImg {
  margin: 0;
  align-self: center;
  max-width: 100%;
  height: auto;
}

.cardDetails {
  margin: 1em;
}

.noDec {
  text-decoration: none;
}

/************************** consum **************************/
.timelineContainer {
  margin: 1em 0;
}

.timeline {
  z-index: 0;
}

.timeline__content {
  padding: 0 1em;
}

#map {
  margin: 1em 0;
}

.flexible {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px
}

.flexible .flexItem {
  flex: 1 0 200px;
  box-sizing: border-box;
  margin: 2em;
}

#consum {
  background-color: black;
}

#consum h2, #consum p, #consum a, #consum cite {
  color: #F1F1F1;
}

#consumQuote {
  margin: inherit;
  padding: 41px 0 0;
  position: relative;
  line-height: 38px;
}

#consumQuote p {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px;
  font-size: 1.5em;
  font-family: Helvetica;
}

#consumQuote::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 195px;
  height: 10px;
  background-color: #00b16d;
}

#world {
  text-align: right;
}

.worldIcon {
  width: auto;
  height: 8em;
}

.slideshowContainer {
  width: 100%;
}

/************************** solns **************************/
#solns {
  background-color: #d3c9cd;
}

/************************** Responsiveness **************************/
/* for mobile when width is larger than 0 */
@media only screen and (min-width:0) {
  #navFlexContainer {
    display: none;
  }
}

/* for tablet when width is larger than 37.5em */
@media only screen and (min-width:37.5em) {
  body {
    font-size: 108%;
  }

  #essenContainer, #popGrowthContainer, #urbanContainer, #consumContainer, #solnsContainer, #sourcesContainer {
    padding: 1.5em 8%;
  }

  #navFlexContainer {
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: 1px;
  }

  nav a {
    margin: auto;
    text-align: center;
    padding: 0.2em;
  }

  .navItem {
    padding: 15px;
  }

  #navMobile {
    display: none;
  }

  #title {
    width: 70%;
  }

  #arrow {
    margin: 0;
    position: relative;
    display: inline-block;
  }

  #tedTalk {
    width: 50%;
  }

  .caption {
    margin-bottom: 0;
  }

  #audio {
    margin: 1em;
  }

  audio {
    margin: 1em;
  }

  #cards {
    padding: 0 8%;
  }

  .card {
    width: 40%;
    min-width: 1em;
  }

  #consumQuote {
    margin: 1em 8%;
  }

  .slideshowContainer {
    width: 50%;
    margin: 5% 0;
  }

  blockquote {
    width: 40%;
  }
}

/* for desktop when width is larger than 60em */
@media only screen and (min-width:60em) {
  body {
    font-size: 115%;
  }

  #popGrowthContainer, #urbanContainer, #consumContainer, #solnsContainer, #sourcesContainer {
    padding: 0 10%;
  }
}